[mysqld]
skip-name-resolve

secure-file-priv=/opt/mysql_tmp

default_authentication_plugin = caching_sha2_password

admin_address=127.0.0.1
admin_port=33062
default_time_zone = "+8:00"

#innodb_data_file_path = ibdata1:12M;ibdata2:1G:autoextend

group_concat_max_len=10240000

init-connect = 'SET NAMES utf8mb4'
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

sql_mode = NO_ENGINE_SUBSTITUTION
#sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

back_log = 2048

max_connections = 800
max_connect_errors = 10000
open_files_limit = 65535
table_open_cache = 1024
max_allowed_packet = 500M
binlog_cache_size = 1M
max_heap_table_size = 16M
tmp_table_size = 256M

read_buffer_size = 2M
read_rnd_buffer_size = 8M
sort_buffer_size = 8M
join_buffer_size = 8M
key_buffer_size = 256M

thread_cache_size = 64

ft_min_word_len = 4

log_bin = mysql-bin
binlog_format = mixed
binlog_expire_logs_seconds = 604800

log_error = /var/log/mysql/mysql-error.log
slow_query_log = 1
long_query_time = 3
slow_query_log_file = /var/log/mysql/mysql-slow.log

performance_schema = 0
explicit_defaults_for_timestamp

skip-external-locking

default_storage_engine = InnoDB
innodb_file_per_table = 1
innodb_open_files = 500
innodb_buffer_pool_size = 17203M
innodb_buffer_pool_instances=16
innodb_write_io_threads = 16
innodb_read_io_threads = 16
innodb_thread_concurrency = 4
innodb_purge_threads = 32
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 64M
innodb_log_file_size = 128M
innodb_log_files_in_group = 32
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 1800

sync_binlog=1
innodb_flush_log_at_trx_commit=1
innodb_use_native_aio=1
innodb_spin_wait_delay=120
innodb_sync_spin_loops=20
innodb_flush_method=O_DIRECT
innodb_io_capacity=6000
innodb_io_capacity_max=18000
innodb_lru_scan_depth=1024
innodb_page_cleaners=8

bulk_insert_buffer_size = 8M
myisam_sort_buffer_size = 64M
myisam_max_sort_file_size = 10G

interactive_timeout = 28800
wait_timeout = 1814400
mysqlx_read_timeout=60
net_read_timeout=60
mysqlx_connect_timeout=60
delayed_insert_timeout=480

[mysqldump]
quick
max_allowed_packet = 2048M

[myisamchk]
key_buffer_size = 1024M
sort_buffer_size = 8M
read_buffer = 4M
write_buffer = 4M